# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Pipenv
Pipfile.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Other
.DS_Store
.idea/
.vscode/
*.swp
